* {
  text-decoration: none;
}
button, div, form, input {
  margin: 10px;
  font-family: 'Shadows Into Light', cursive;
}
button {
  display: inline-block;
}
button:hover,
button:focus {
    text-decoration: none;
    color: #8F0000;
}
button:active{
    border: 1px solid #757776;
}
#martialGIF_form { text-align: center; }
#searchInstructions {
  font-weight: bold;
  font-size: 2.5em;
}
.martialGiphy img {
  height: auto;
  width: auto;
  display: inline-block;
}
